{% load static %}<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}ULima Citas{% endblock %}</title>
  <link href="https://fonts.googleapis.com/css?family=Peralta" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous"/>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="">Bienvenido, {{ nombreAlumno.first_name }} {{ nombreAlumno.last_name}}</a>
    </div>
    <p></p>
    <div align="center">
      <h2>Citas</h2>
    </div>
  </nav>

  <div class="container">
    <div>
      <form action="/logout" method="post">
      {% csrf_token %}
        <button type="submit" name="logout" class="btn btn-danger">Logout</button>
      </form>
    </div>
    <p></p>
    <div align="right">
      <form action="/citaAtendida" method='get'>
      {% csrf_token %}
        <button class="btn btn-primary" type="submit" name="citaAtendida">Citas Atendidas</button>
      </form>
    </div>
    <p></p>
    <div align="right">
      <form action="/regresar" method='get'>
      {% csrf_token %}
        <button class="btn btn-warning" type="submit" name="regresar">Regresar</button>
      </form>
    </div>
    <p></p>

  <table class="table">
    <thead class="thead-inverse">
      <tr>
        <th></th>
        <th>Curso</th>
        <th>Profesor</th>
        <th>Horario</th>
        <th>Lugar</th>
        <th>Día</th>
        <th>Sección</th>
        <th>Comentario</th>
        <th>Fecha</th>
        <th>Archivo</th>
        <th>Operación</th>
      </tr>
    </thead>
    <tbody>
      {% for item in arreglo %}
        <form action="/cancelarCita" method="post">
        {% csrf_token %}
          <tr>
            <th><input type= "hidden" name="id_cita" value= {{ item.id }}></th>
            <th>{{ item.curso }}</th>
            <th>{{ item.profesor }}</th>
            <th>{{ item.horario }}</th>
            <th>{{ item.lugar }}</th>
            <th>{{ item.dia }}</th>
            <th>{{ item.seccion }}</th>
            <th>{{ item.comentario }}</th>
            <th>{{ item.fechaCita|date:'Y-m-d' }}</th>
            {% ifequal item.archivo 0 %}
              {% csrf_token %}
              <th>No hay archivo</th>
              <th><button class="btn btn-danger" type="submit" name="cancelarCita">Cancelar Cita</button></th>
            {%else%}
            {% csrf_token %}
              <th><a href="{{ item.archivo }}">Descargar<i class="fa fa-cloud-download"></i></a></th>
              <th><button class="btn btn-danger" type="submit" name="cancelarCita">Cancelar Cita</button></th>
            {% endifequal %}
          </tr>
        </form>
      {% endfor %}
    </tbody>
  </table>

</div>
</body>
</html>
